/* Some tablets mis-report orientation, leaving white at bottom: */
body { background-color: #d1d1d1;}

h2 {
	border-bottom: 1px solid #b3b3b3;
	font-size: 1.4em; /* 1.6em; */
	font-weight: normal;
	margin: 0.3em 0px 0.6em 0px; 
	padding-bottom: 0.1em;
	color:#fff;
	
}
h3 { 
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0px 0.5em 0px;
	text-shadow: #FFFFFF 0px 1px 1px;
}
.api-div {
 	color: #202020;
 	font-size: 0.9em;
 	font-style: normal;
 	text-decoration: none;
	margin-bottom: 2.0em;
}
#projectList{
			list-style:none;
			margin:0;
			padding:0;
}

#projectList input.search{
	background:#fff url(img/search.png) center left no-repeat;
	
}


.textLeft{
	text-align: left;
}
.contentBg{
	background: #000;
}
.buttonHover{
	border:1px solid #225377;
	background: 			#038e01 /*{a-bup-background-color}*/;
	font-weight:bold;
	text-shadow:0 -1px 1px #225377;
	color:#fff;
}
.logout{
    height: 24px;
    width: 75px;
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;
    border: 1px solid #145072;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #145072;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
  	text-align: left;
}

.ui-btn-inner { 
	padding: .6em 8px; /*25px;*/
}
.wider-btn .ui-btn-inner {
	padding: .6em 1.8em; 	
}
.ui-grid-a, .ui-grid-b {
	margin: 0.4em 0px;
}
#map {
	width: 180px; 
	height: 140px; 
	border: 2px solid #666;
 	display: block;
 	visibility: hidden; 
	margin: 1.0em auto; 
}
.ui-header .ui-title {
	margin-right:20px;
	margin-left:20px;
}
.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
 	margin: 0 -15px;
 	
}
.type-interior .ui-content {
	border-top: 1px solid #3f80bc;
	/* padding-bottom: 0; */
}
.content-secondary .ui-collapsible {
	padding: 0 15px 10px;
	margin: 0;
}
.content-secondary .ui-collapsible-content {
	padding: 0;
	border-bottom: none;
}
.content-secondary .ui-listview {
	margin: 0;
}
.footer-docs {
	display: none;
}
.footer-docs p {
	float: left;
	margin-left:15px;
	font-weight: normal;
	font-size: .9em !important;
}
ul #listdivider {
	font-size: 1.0em;;
	border-top-width: 0px;
	display: none;
}
.api-div h4 {
 	display: block; 
 	font-size: 0.8em !important; 
 	font-weight: normal; 
 	background: #eef; 
 	border-left: 6px solid #f62c0b;
 	padding: 5px 8px;
 	margin: .5em 0px;
}
.api-div .help {
 	border-left: 6px solid #188f69;
}


/*	h1 { color: #f00; }   FOR TESTING */
	h2 {
		font-size: 1.2em;
		margin: 0.2em 0px 0.3em;
	}
	.api-div {
 		font-size: 1.0em;
	}
	ul #listdivider {
		padding-top: .6em;
		padding-bottom: .6em;
		display: block;
	}
	.type-interior .ui-content {
		padding: 0;
	}
	.type-interior .ui-content {
		overflow: hidden;
	}
	.content-secondary {
		text-align: left;
		float: left;
		width: 31%;
		background:#000 url(img/bodyBg.png) top left repeat;
		min-height:1000px;
	}
	.content-secondary,
	.type-interior .content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
		border-top: none;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border: none;
	}
	.content-primary {
		width: 65%;		/* left */
		float: right;
		margin-right: 1%;
		padding-right: 1%;
		min-height:1000px;
		background:#444;
	}
	.type-interior .content-primary {
		padding: 0.5em 2% 1.5em; /* right */
		margin: 0;
	}
	/* fix up the collapsibles - expanded on desktop */
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.type-interior .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding:0 0 2em 0;
	}


