html,
body {
    height:100%;
    font-size:12px;
    width:100%;
	
}

html {
    display:table;
}

body {
	
    display:table-cell;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   
	
}

#logo{
	background:url(../img/projectLogo.png) center center no-repeat;
	margin:60px 0 0 0;
	height:61px;
	width:100%;
}
.ui-header .ui-title{
	background:url(../img/smallLogo.png) center left no-repeat;
}
.logout {
    position: absolute;
    right: 10px;
    top: 0.4em;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    height: 24px;
    width: 60px;
    cursor: pointer;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}


#loginWidth{
	width:65%;
	margin:0 auto;
	border-width: 0; 
	overflow: visible; 
	overflow-x: hidden; 
	padding: 15px; 
	background:#eee;
	border-radius:8px;
}
.leftPanel{
	width:30%;
	float:left;
	background:url(../img/bodyBg.png) top left repeat;	
	height:100% !important;
}
.rightPanel{
	width:68%;
	padding:0 0 0 2%;
	float:left;
	background: #ff0000;	
}

#header{
	padding:0 10px;
	border-bottom:1px solid #777;
}
#header h3{
	background:url(../img/lock.png) top right no-repeat;
	margin:0px;
	padding:0 0 10px 0;
	font-size:16px;
	font-weight:bold;
	
	
}

-----------------------------------------------------------------------------------------------------------*/
.ui-bar-i, .ui-bar-g {
	background: 			#111 /*{a-bar-background-color}*/;
	color: 					#fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000 /*{a-bar-shadow-color}*/;
}
.ui-body-i,.ui-overlay-i, .ui-body-g, .ui-overlay-g
 {
	border: 1px solid 		#777 /*{a-body-border}*/;
	background: 			#111 /*{a-body-background-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c /*{a-bar-background-start}*/), to( #111 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/);
	
}
.ui-overlay-i, .ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-btn-up-i,.ui-btn-up-j {
	border: 1px solid 		#044a03 /*{a-bup-border}*/;
	background: 			#038e01 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #038e01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/);
}
.ui-btn-hover-i, .ui-btn-hover-g {
	border: 1px solid 		#038e01 /*{a-bup-border}*/;
	background: 			#038e01 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #038e01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/);
}

.ui-btn-up-i:visited,.ui-btn-up-i a.ui-link-inherit,
.ui-btn-up-g:visited,.ui-btn-up-g a.ui-link-inherit,
.ui-btn-up-j:visited,.ui-btn-up-j a.ui-link-inherit, 
	{
		color: 					#fff /*{a-bup-color}*/;
	}

.ui-btn-hover-i:visited,.ui-btn-hover-i:hover,.ui-btn-hover-i a.ui-link-inherit,
.ui-btn-hover-i:visited,.ui-btn-hover-i:hover,.ui-btn-hover-i a.ui-link-inherit,
.ui-btn-hover-j:visited,.ui-btn-hover-j:hover,.ui-btn-hover-j a.ui-link-inherit 
	{
		color: 					#fff /*{a-bhover-color}*/;
	}
.ui-btn-down-i,.ui-btn-down-g {
	border: 1px solid 		#038e01 /*{a-bdown-border}*/;
	background: 			#222 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #038e01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #53c117 /*{a-bup-background-start}*/, #038e01 /*{a-bup-background-end}*/);
}
.ui-btn-down-i:visited,.ui-btn-down-i:hover,.ui-btn-down-i a.ui-link-inherit,
.ui-btn-down-g:visited,.ui-btn-down-g:hover,.ui-btn-down-g a.ui-link-inherit,
.ui-btn-down-j:visited,.ui-btn-down-j:hover,.ui-btn-down-j a.ui-link-inherit  
	{
	color: 	#fff /*{a-bdown-color}*/;
	}
.ui-btn-up-i,.ui-btn-hover-i,.ui-btn-down-i,
.ui-btn-up-g,.ui-btn-hover-g,.ui-btn-down-g,
.ui-btn-up-j,.ui-btn-hover-j,.ui-btn-down-j  
	{
		font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
		text-decoration: none;
	}



.ui-content input, 
.ui-content textarea{
	background:#fff;
}


.ui-btn-up-g, .ui-btn-down-j {
	border: 1px solid 		#222 /*{a-bup-border}*/;
	background:url(../img/bodyBg.png) top left repeat;		
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;

}

